.header {
    margin-top: 15px;
    margin-bottom: 30px;
    letter-spacing: .25em;
}

footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    padding: 5px;
}

.table {
    margin-top: 12px;
    /*font-size: 14px;*/

}

.table th,
.table td {
    text-align: center;
    vertical-align: middle !important;
}

div.center {text-align: center;}