<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
        <title>{{ title }} - Microblog</title>
    {% else %}
        <title>Welcome to Microblog!</title>
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}" type="text/css">
</head>

<body class="d-flex flex-column h-100">
{#导航栏#}
{% from 'bootstrap/nav.html' import render_nav_item %}

{#    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">#}
{#        <div class="navbar-nav mr-auto">#}
{#            {{ render_nav_item('index', 'Home') }}#}
{#            {% if current_user.is_authenticated %}#}
{#                {{ render_nav_item('user', 'Profile',username=current_user.username) }}#}
{#                {{ render_nav_item('explore', 'Explore') }}#}
{#                {{ render_nav_item('logout', 'Logout') }}#}
{#            {% else %}#}
{#                {{ render_nav_item('login', 'Login') }}#}
{#            {% endif %}#}
{#        </div>#}
{#        {% if g.search_form %}#}
{#            {% from 'bootstrap/form.html' import render_form %}#}
{#            {{ render_form(g.search_form,action=url_for("search"),method="get",form_type="inline") }}#}
{#            <form class="form-inline" method="get" action="{{ url_for("search") }}">#}
{#                {{ g.search_form.q(size=20, class='form-control',#}
{#                                        placeholder=g.search_form.q.label.text) }}#}
{#                <button class="btn btn-success" type="submit">Search</button>#}
{#            </form>#}
{#        {% endif %}#}
{#    </nav>#}
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #0f4c75;" role="navigation">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="{{ url_for('index') }}">MicroBlog</a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav nav-justified mr-auto">
                    {{ render_nav_item('index', 'Home') }}
                    {% if current_user.is_authenticated %}
                        {{ render_nav_item('user', 'Profile',username=current_user.username) }}
                        {{ render_nav_item('explore', 'Explore') }}
                        {{ render_nav_item('logout', 'Logout') }}
                    {% else %}
                        {{ render_nav_item('chip_id', 'ChipId') }}
                        {{ render_nav_item('login', 'Login') }}
                    {% endif %}
                </ul>
                {% if g.search_form %}
                    <form class="form-inline my-2 my-lg-0" method="get" action="{{ url_for
                                ("search") }}">
                        {{ g.search_form.q(class='form-control mr-sm-2',
                            placeholder=g.search_form.q.label.text) }}
                        {#                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
                        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        {#    <header>#}
        {#        <h2 class="text-center">#}
        {#            Flask test#}
        {#        </h2>#}
        {#    </header>#}
        {#    <div>#}
        {#        <a href="{{ url_for('index') }}">Home</a>#}
        {#        {% if current_user.is_anonymous %}#}
        {#            <a href="{{ url_for('login') }}">Login</a>#}
        {#        {% else %}#}
        {#            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>#}
        {#            <a href="{{ url_for('explore') }}">Explore</a>#}
        {#            <a href="{{ url_for("logout") }}">Logout</a>#}
        {#        {% endif %}#}
        {#    </div>#}
        {#面包屑导航#}
        {#    {% from 'bootstrap/nav.html' import render_breadcrumb_item %}#}
        {#    <nav aria-label="breadcrumb">#}
        {#        <ol class="breadcrumb">#}
        {#            {{ render_breadcrumb_item('index', 'Home') }}#}
        {#            {% if current_user.is_authenticated %}#}
        {#                {{ render_breadcrumb_item('user', 'Profile',username=current_user.username) }}#}
        {#                {{ render_breadcrumb_item('explore', 'Explore') }}#}
        {#                {{ render_breadcrumb_item('logout', 'Logout') }}#}
        {#            {% else %}#}
        {#                {{ render_breadcrumb_item('login', 'Login') }}#}
        {#            {% endif %}#}
        {#        </ol>#}
        {#    </nav>#}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</main>
<footer id="contentinfo" class="footer mt-auto py-2">
    <div class="container">
        <small>&copy; 2020 <a href="{{ url_for('index') }}">Dream all rights reserved.</a></small>
    </div>
</footer>
{{ bootstrap.load_js() }}
{{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
{{ moment.locale(auto_detect=True) }}
</body>

</html>