<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
        <title>{{ title }} - Microblog</title>
    {% else %}
        <title>Welcome to Microblog!</title>
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
<main class="container">
    <header>
        <h1 class="text-left display-4">
            Flask test
        </h1>
    </header>
    <div>
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('explore') }}">Explore</a>
            <a href="{{ url_for("logout") }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    <footer class="text-center">
        <small>&copy; 2020 <a href="{{url_for('index')}}">Dream all rights reserved.</a></small>
    </footer>
</main>
{{ bootstrap.load_js() }}
{{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
{{ moment.locale(auto_detect=True) }}
</body>
</html>