{% extends "base.html" %}

{% block content %}
    <h3 class="text-left">查询芯片ID对应关系</h3>
    <br>
    <form method="POST" action="">
        <div class="form-group">
            <label for="field_query">填入审批单号后6位或者派工单号</label>
            <input type="text" class="form-control form-control-sm" id="field_query" name="field_query"
                   autocomplete="off"
                   required>
        </div>
        <div class="form-group">
            <label for="product_category">选择产品型态：(按住 ctrl或shift键，可以单选或连选多个选项):</label>
            <select multiple class="form-control form-control-sm" id="product_category" name="product_category"
                    required>
                <option selected>通信单元（单相/HPLC）</option>
                <option>通信单元（三相/HPLC）</option>
                <option>通信单元（集中器I型/HPLC）</option>
                <option>通信单元（I采/HPLC）</option>
                <option>II型采集器（HPLC）</option>
            </select>
        </div>
        <div class="form-group">
            <label class="radio"><input type="radio" name="method_query" checked="checked" value="1">按审批单号查询</label>
            <label class="radio"><input type="radio" name="method_query" value="2">按派工单号查询</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">查询</button>
        </div>
    </form>
{% endblock %}