{% extends "base.html" %}

{% block content %}
    <h4 class="text-left">Hi, {{ current_user.username }}!</h4>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <P>
                {{ form.post.label }}<br>
                {{ form.post(cols=32,rows=4) }}<br>
                {% for error in form.post.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </P>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if pagination %}
        <div id="pagination">
            {% from 'bootstrap/pagination.html' import render_pagination %}
            {{ render_pagination(pagination) }}
        </div>
    {% endif %}
{% endblock %}